.searchItem{
     border: 1px solid rgb(170, 166, 166);
     padding: 10px;
     border-radius: 10px;
     display: flex;
     justify-content: space-between;
     gap: 20px;
     width: 1000px;   
     margin-bottom: 20px;
}
.siImg{
     width: 300px;
     height:300px;
    object-fit: cover;
}
.siDesc{
     display: flex;
     flex-direction: column;
     gap: 10px;
     flex:2;
}
.siTitle{
     font-size: 40px;
     color: #0071c2;
}
.siDistance{
     font-size: 23px;
}
.siTaxiOp{
     font-size: 24px;
     background-color: green;
     color: white;
     width: max-content;
     padding: 3px;
     border-radius:5px ;
}
.siSubtitle{
     font-size: 20px;
     font-weight: bold;
}
.siFeatures{
       font-size: 22px;
}
.siCancelOp{
font-size: 24px;
color: green;
font-weight: bold;
}
.siCancleOpSubtitle{
     font-size: 18px;
color: green;
}
.siDetails{
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
.siRating{
     display: flex;
     justify-content: space-between;
}
.siRating>span{
     font-weight: 500;
}
.siRating>button{
     background-color: #003580;
     color: white;
     padding: 5px;
     font-weight: bold;
     border: none;
}
.siDetailsTexts{
     text-align: right;
     display: flex;
     flex-direction: column;
     gap: 5px;
}
.siPrice{
     font-size: 30px;
color: grey;
}
.siCheckBtn{
     background-color: #0071c2;
     color: white;
     font-weight: bold;
     padding: 10px 5px;
     bottom: none;
     cursor: pointer;
     border-radius: 5px;
}