
.navbar{
    height: 80px;
    background-color: rgb(8, 8, 81);
    display: flex;
    justify-content: center;
}
.navContainer{
    width: 100%;
    max-width: 1024px;
    color: rgba(255, 255, 255, 0.962);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
font-weight: 800;
font-size: xx-large;
}
.navButton{
    margin-left:20px ;
border: none;
padding: 5px 10px;
cursor: pointer;
color: blue;
}